
body {
    background-color: #062a44;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}
.logo-container {
    text-align: center;
    padding: 20px;
}
.logo {
    width: 180px;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.btn-link {
    background-color: #0f4c75;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    width: 80%;
    text-align: center;
}
.pdf-container {
    height: 92vh;
}
.botones-flotantes {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.btn img {
    width: 30px;
    height: 30px;
}
    