
body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
}

.logo-watermark {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.05;
    z-index: 0;
}

.watermark {
    width: 250px;
}

form {
    position: relative;
    z-index: 1;
}
