
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img src="/static/logo.png" width="80"/>
    <h1>MEDSYS - Evolución Diaria</h1>
    <hr>
    <form>
        <label>Nombre del paciente:</label><input type='text'>
<label>Fecha:</label><input type='text'>
<label>Diagnóstico actual:</label><input type='text'>
<label>Observaciones clínicas:</label><input type='text'>
<label>Plan terapéutico:</label><input type='text'>
<label>Medicación indicada:</label><input type='text'>
<label>Próximo control:</label><input type='text'>
        <button>Guardar</button>
    </form>
</body>
</html>
