
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img src="/static/logo.png" width="80"/>
    <h1>MEDSYS - Historia Clínica Completa</h1>
    <hr>
    <form>
        <label>Nombre del paciente:</label><input type='text'>
<label>Fecha de nacimiento:</label><input type='text'>
<label>Edad:</label><input type='text'>
<label>Sexo:</label><input type='text'>
<label>DNI:</label><input type='text'>
<label>Domicilio:</label><input type='text'>
<label>Teléfono:</label><input type='text'>
<label>Correo electrónico:</label><input type='text'>
<label>Obra social / prepaga:</label><input type='text'>
<label>Número de afiliado:</label><input type='text'>
<label>Antecedentes personales:</label><input type='text'>
<label>Antecedentes familiares:</label><input type='text'>
<label>Hábitos:</label><input type='text'>
<label>Enfermedades crónicas:</label><input type='text'>
<label>Cirugías y hospitalizaciones:</label><input type='text'>
<label>Medicación actual:</label><input type='text'>
        <button>Guardar</button>
    </form>
</body>
</html>
