
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img src="/static/logo.png" width="80"/>
    <h1>MEDSYS - Historia Clínica Resumida (Emergencia)</h1>
    <hr>
    <form>
        <label>Nombre del paciente:</label><input type='text'>
<label>Fecha de nacimiento:</label><input type='text'>
<label>Edad:</label><input type='text'>
<label>Sexo:</label><input type='text'>
<label>Obra social / prepaga:</label><input type='text'>
<label>Número de afiliado:</label><input type='text'>
<label>Contacto de emergencia:</label><input type='text'>
<label>Diagnósticos médicos relevantes:</label><input type='text'>
<label>Alergias:</label><input type='text'>
<label>Medicación habitual:</label><input type='text'>
<label>Cirugías previas importantes:</label><input type='text'>
<label>Estudios complementarios:</label><input type='text'>
<label>Motivo de la consulta:</label><input type='text'>
<label>Diagnóstico de la consulta:</label><input type='text'>
        <button>Guardar</button>
    </form>
</body>
</html>
