<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MEDISYS</title>
  <link rel="stylesheet" href="static/styles.css" />
  <link rel="icon" href="static/logo-medsys.png" type="image/png" />
</head>
<body>
  <header>
    <img src="static/logo-medsys.png" alt="Logo MEDISYS" class="logo-grande" />
  </header>

  <main>
    <div class="botonera">
      <a href="registro.html" class="boton">
        <img src="static/icons/icono-registro.png" alt="Registro" class="icono" />
        Registro de Pacientes
      </a>
      <a href="historia.html" class="boton">
        <img src="static/icons/icono-historia.png" alt="Historia Clínica" class="icono" />
        Historia Clínica
      </a>
      <a href="receta.html" class="boton">
        <img src="static/icons/icono-receta.png" alt="Receta" class="icono" />
        Receta Electrónica
      </a>
      <a href="indicaciones.html" class="boton">
        <img src="static/icons/icono-indicaciones.png" alt="Indicaciones" class="icono" />
        Indicaciones Médicas
      </a>
    </div>
  </main>

  <footer>
    <p>&copy; 2025 MEDISYS</p>
  </footer>
</body>
</html>
