<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MEDSYS</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <img src="/static/logo-app.png" alt="MEDSYS Logo" class="logo" />
        <h1>MEDSYS</h1>
        <div class="menu">
            <a class="boton" href="#"><img src="/static/icons/icon-paciente.svg" alt=""> Registro de pacientes</a>
            <a class="boton" href="/historia_clinica"><img src="/static/icons/icon-historia.svg" alt=""> Historia clínica</a>
            <a class="boton" href="/recetas"><img src="/static/icons/send-icon.svg" alt=""> Recetas</a>
            <a class="boton" href="/indicaciones"><img src="/static/icons/delete-icon.svg" alt=""> Indicaciones médicas</a>
            <a class="boton" href="/evolucion"><img src="/static/icons/print.png" alt=""> Turnos</a>
        </div>
    </div>
</body>
</html>
