
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>MEDSYS - Inicio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <img src="/static/logo-app.png" alt="Logo MEDSYS" class="logo">
        <div class="buttons">
            <a href="/registro" class="button">Registro de pacientes</a>
            <a href="/historia_completa" class="button">Historia clínica</a>
            <a href="/receta" class="button">Recetas</a>
            <a href="/indicaciones" class="button">Indicaciones médicas</a>
            <a href="/turnos" class="button">Turnos</a>
        </div>
    </div>
</body>
</html>
